services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile.dev
    ports:
      - "8080:80"

  playwright:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - app
    environment:
      - BASE_URL=http://app:80
